<hero class="hero">
  <div class="hero-div container">
      <div class="hero-left">
        <div class="hero-main">
          <h1 class="hero-main__title">ice cream made with <span class="hero-main__title-correction">passion</span></h1>
          <a class="link-button link-button--text hero__button-alternative link" href="#part3">Products</a>
          <a class="hero__button link link-button link-button--text" href="#part2">How it’s made?</a>
        </div>
        <div class="hero-secondary">
          <p class="hero-secondary__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et</p>
          <a class="hero__button-arrow" href="">
            <svg class="arrow" width="10" height="7">
              <use href="./images/sprite.svg#icon-arrow_right"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="hero-right">
        <div class="hero-third">
          <ul class="hero-third__list list">
            <li class="hero-third__list-item">
              <span class="hero-third__list-number">16</span>
              <p class="hero-third__list-text">cafes</p>
            </li>
            <li class="hero-third__list-item">
              <span class="hero-third__list-number">23</span>
              <p class="hero-third__list-text">food trucks</p>
            </li>
          </ul>
        </div>
      </div>
  </div>
</hero>